<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CLS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>familyServlet</servlet-name>
    <servlet-class>web.FamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>familyServlet</servlet-name>
    <url-pattern>/familyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>patientServlet</servlet-name>
    <servlet-class>web.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientServlet</servlet-name>
    <url-pattern>/patientServlet</url-pattern>
  </servlet-mapping>  <servlet>
    <servlet-name>dentistServlet</servlet-name>
    <servlet-class>web.DentistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dentistServlet</servlet-name>
    <url-pattern>/dentistServlet</url-pattern>
  </servlet-mapping>
</web-app>